<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>ShoppingList</title>
  </head>
  <body>
    <div id="shopping-list">
      <h1>Hello {{ header.toLocaleUpperCase() }}</h1>
      <input
        type="text"
        v-model="newItem"
        placeholder="Add an item"
        @keyup.enter="saveItem()"
      />
      <li v-for="(item, index) in items" :key="index">{{ item }}</li>
      <button @click="saveItem()" disabled>Save</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#shopping-list",
        data: {
          header: "ShoppingList app",
          items: ["itemA", "itemB"],
          newItem: ""
        },
        methods: {
          saveItem() {
            this.items.push(this.newItem);
          }
        }
      });
    </script>
  </body>
</html>
